html {
  scroll-behavior: smooth;
  @apply font-light text-black text-[18px];
}

body {
  transition: all 0.3s ease-in-out;
  margin: auto !important;
  @apply bg-admin_background text-black text-[16px] max-w-[1920px]  px-[52px];
}

.button {
  @apply px-[24px] text-[16px] text-nowrap rounded-[8px] min-h-[48px] border-[1px] border-black cursor-pointer;
}

.link-text {
  @apply w-fit relative font-semibold cursor-pointer leading-[150%]
    after:content-[""] after:absolute after:w-full after:h-[2px] after:bg-[#acacac] after:left-0 after:bottom-0 
    before:absolute before:content-[""] before:w-0 before:h-[2px] before:transition-all before:ease-in-out before:duration-300 before:bg-black hover:before:w-full before:bottom-0 before:z-10;
}

.label-text {
  @apply block  text-[12px] uppercase font-light mb-[8px];
}

.input-default {
  @apply w-full px-[16px] h-[48px] font-light outline-none border-b-[1px] border-gray  focus:border-black transition-default;
}

.transition-default {
  transition: all 0.3s ease-in-out;
}

.dot-line {
  background-image: linear-gradient(
    to right,
    rgb(49, 34, 34) 0 10%,
    rgba(255, 255, 255, 0) 10%
  );
  background-position: top;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

.dot-line-buttom {
  background-image: linear-gradient(
    to right,
    rgb(49, 34, 34) 0 10%,
    rgba(255, 255, 255, 0) 10%
  );
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

.dark-theme .dot-line {
  background-image: linear-gradient(
    to right,
    rgb(122, 122, 122) 0 10%,
    rgba(255, 255, 255, 0) 10%
  );
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-rows {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

article h1.test-css {
  font-size: 50px;
  color: blue;
}
